# IDE
.idea/
.vscode/

# Stack
.stack-work/
*.cabal

# Project
/glados
/ekc
/ek
/ek-lsp

# Temp files
*~
*.hi
*.o

# Coverage
test/coverage/

#Lit
test/functional/.lit_test_times.txt
test/functional/Output
